#splash.container
  #logo.row.text-center
    img(src="img/opal-logo-black.png" alt="opal-logo-black")
  .row
    .col-md-4.col-md-offset-4.text-center
      ="expressive musical instruments from seattle, wa."
      br
      ="coming soon."